# python
*.pyc
__pycache__/
.pytest_cache/

# virtual environment
.venv*/
venv*/

# Jupyter
.ipynb_checkpoints/

# Pycharm IDE
/.idea/

# VS Code IDE
/.vscode/
*.code-workspace

# default data folder
/data/

# app logs
*.log
*.log.*
